

@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
 

 .App {
  /* text-align: center;  */
  /* justify-content: space-around; */
  padding: 4rem;
  margin-top: 10rem;
}

.left{
  float: left;
}

.right{
  float: right;
}